/*style for index page*/

body {
  font-family: Arial, sans-serif;
  background-image: url('background.jpeg');
  padding: 20px;
}


h1 {
  color: #112A46;
  font-size: xx-large;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 10px;
}


.btn-primary a {
  color: white;
  text-decoration: none;
}

.btn-primary a:hover {
  color: rgb(74, 81, 84);
  text-decoration: none;
}

button {
  margin: 50px;
  margin-top: 20px;
  border: 0px solid transparent;
}
button:hover{
  border: 5px solid whitesmoke;
}


button a {
  display: block;
  width: 100%;
  height: 100%;
  
}

.container h1{
  font-size: 85px;
}
.container h1:hover{
  font-size: 90px;
}
.container h2{
  font-size:50px ;
  margin-top: 75px;

}
.container h3{
  margin-bottom: 50px;
}
/*styling for additional div*/


.additional {
  margin-top: 50px;
  display: flex; 
  flex-wrap: wrap; 
  margin-right: 20px; 
}

.styled-image {
  max-width: 100%;  
  height: auto; 
}



