
/* create post */


.container{
    background-image: url('background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

div h1{
    color: #010852;
    font-size:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headings{
    color:  #010852;
    font-size: 25px;
    margin-left: 100px;

}

.form-control{
    margin-left: 100px;
    max-width: fit-content;
border: 2px solid white;
}
.form-control:hover{
    border: 2px solid rgb(26, 16, 203);
}
.text{
    margin-left: 100px;
    border: 2px solid white; 
    
}
.text:hover{
    border: 2px solid rgb(26, 16, 203); 
}
.add{
    margin-left: 100px;
    
}
.post{
    margin-left: 100px;
    margin-bottom: 50px;
}
.happy{
    
        color:  #010852;
        font-size:40px;
        display: flex;
        align-items: center;
        justify-content: center;
    
}
