<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styleslogin.css' %}">
    <title>Login</title>
</head>
<body>
    <h1 class="container text-center">Login</h1>
    <form class="container" method="post" action="">
        {% csrf_token %}
        <label class="details" for="uname">User Name</label><br>
        <input type="text" name="uname" id="uname" placeholder="Enter username..." required><br><br>
        <label class="details"  for="passwd">Password</label><br>
        <input type="password" name="passwd" id="passwd" placeholder="Enter Password..." required><br><br>
        <button class="btn btn-primary" type="submit">LogIn</button>
    </form>
    <div class="thought">
        <div class="quote text-center">
        <p >“If you can't explain it simply, you don't understand it well enough.”</p> </div>
        <div class="blog text-center">!!!!Keep Blogging!!!!</div>
    </div>
</body>
</html>
